html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.gray {
  background-color: gray;
}

.cards {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
}

.card {
  display: inline-block;
  height: 100%;
  width: calc(100% / 3 - 20px);
  margin: 0 10px;
  box-sizing: border-box;
}
