html, body {
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

.center {
  margin: 0 auto;
}

.full-height {
  height: 100%;
}

.width-85 {
  width: 85%;
}

.width-75 {
  width: 75%;
}

.width-33 {
  width: 33%;
}

.blue {
  background-color: cornflowerblue;
}

.red {
  background-color: red;
}

.gray {
  background-color: dimgray;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.cards {
  overflow: auto; /* neccessary because of the floated children */
}

.card {
  float: left;
  height: 200px;
  width: calc(100% / 3 - 50px); /* have to factor in the margin */
  margin: 25px;
}

.text-block {
  margin: 0;
  padding: 25px;
  font-size: 24px;
}

.content-box {
  height: 500px;
  margin: 25px
}

footer {
  margin: 25px;
  height: 150px;
}
