html, body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: lightgray;
}

main {
  box-sizing: border-box;
  height: calc(100% - 75px); /* subtract fixed footer */
  padding: 40px 20%;
}

.pad-20 {
  padding: 20px;
}

.pad-40 {
  padding: 40px;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.content-wrapper {
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  box-sizing: border-box;
}

.content img {
  width: 100%;
  height: 400px;
  margin: 0 auto;
}

.content .content-text {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.btn-inline {
  height: 50px;
  width: 150px;
  margin: 20px 20px 0 0;
  color: white;
  font-size: 24px;
  border: none;

}

.button-content {
  box-sizing: border-box;
  height: 25%;
  min-height: 220px;
}

.image-content {
  box-sizing: border-box;
  min-height: 600px;
  height: calc(75% - 40px);
}


.fixed-bottom {
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 75px;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-size: 22px;
  margin-left: 40px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #4a4a4a;
  padding: 0 20%;
}
