html, body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

main {
  box-sizing: border-box;
  height: 100%;
  padding: 40px;
}

main h1 {
  margin-top: 32px;
  margin-bottom: 0;
  font-size: 48px;
  color: gray;
  float: left;
}

.header-nav {
  background-color: gray;
  height: 75px;
  padding: 24px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-nav .nav-link {
  color: white;
  font-size: 24px;
  text-decoration: none;
  margin-right: 40px;
}

.article-img {
  box-sizing: border-box;
  width: 50%;
  margin: 24px 0 0 0;
  padding-left: 8px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-img img {
  width: 100%;
}

.text-column {
  padding: 12px;
  box-sizing: border-box;
  max-width: 50%;
}

.text-column p {
  font-size: 18px;
}

.pull-right {
  float: right;
  clear: right;
}

.pull-left {
  float: left;
  clear: left;
}

footer {
  position: fixed;
  height: 75px;
  background-color: gray;
}
